/* reset css */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}



/* our work start here */
.wrapper{
    height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem ;
}

body {
    color: black;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.headlines {
    font-family: "Boldonse", system-ui;
    font-weight: 600;
    font-style: normal;
    padding:2rem 0
}

.sub-headlines {
    font-family: "Boldonse", system-ui;
    font-weight: 600;
    font-style: normal;
    padding:1rem 0
}

/* Dennis CSS */

.elementor-testimonials {
    padding: 20px;
    margin: 15px;
}

.testim {
    padding: 20px;
    font-size: 1.3em;
    font-style: italic;
}

.testim-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testim-img {
    width: 120px;
    height: 120px;
    flex: 0 0 120px;
}

.testim-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   border-radius: 50%;
}

.testim-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Carousel code */

.elementor-testimonials.carousel {
    position: relative;
    overflow: visible;
    padding: 20px;
    margin: 15px;
}

.elementor-testimonials {
    position: relative;
    padding: 20px;
    margin: 15px;
}

.slides {
    display: grid;
    /* position: relative;
    height: auto;
    min-height: 0;
    transition: height 300ms ease; */
}

.slide {
    grid-area: 1/1;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}
.slide.active {
    opacity: 1;
    pointer-events: auto;
}

/* --- Arrows --- */

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 3;
    background: rgba(0, 0, 0, 0);
    color: #ccc;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.prev { 
    left: -20px; 
}
.next { 
    right: -20px; 
}

.dots {
    position: static;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    
}

.dots button {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    z-index: 5;
}

.dots button.active {
    background: #333;
}